
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="orderDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Issued Bill Date</th>
    <td mat-cell *matCellDef="let element"> {{element.orderDate}} </td>
  </ng-container>


  <ng-container matColumnDef="vendorName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor Name</th>
    <td mat-cell *matCellDef="let element"> {{element.vendorName}} </td>
  </ng-container>

  <ng-container matColumnDef="uploadedFile">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded File</th>
    <td mat-cell *matCellDef="let element"> <a>{{element.uploadedFile}}</a> </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


