.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.history-full-width {
  float: right;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

table {
  box-shadow: none;
}
