.upload {
  width: 50%;
  margin: auto ;
  padding: 10px 0;
}
.upload-icon{
  font-size: 2em;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 49%
}

.example-full-width {
  width: 100%;
}

button.material-icons.upload-icon {
  margin-top: 75px;
  width: 18%;
  margin-left: 79px
}

.upload-button {
  position: relative;
  top: 18px;
  left: 75%;
}
