/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
* {
  box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box;}
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 40px !important;
}

svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
  position: relative !important;
  top: 10px !important;
  color: #ffffff;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

svg.mat-datepicker-toggle-default-icon.ng-star-inserted {
  color: #ddd;
}



